<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include("./_share/metadata.ejs") %>
    <title>Document</title>
    <%- include("./_share/stylesheets.ejs") %>
</head>
<body>
    <div class="outerframe">
        <%- include("./_share/navbar.ejs") %>
        <h1>Hello</h1>
    </div>
    <%- include("./_share/javascripts.ejs") %>
</body>
</html>