<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include("./_share/metadata.ejs") %>
    <title>Document</title>
    <%- include("./_share/stylesheets.ejs") %>
</head>
<body>
    <h1>Hello</h1>
</body>
</html>