<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include("./_share/metadata.ejs") %>
  <title>Document</title>
  <%- include("./_share/stylesheets.ejs") %>
  <link rel="stylesheet" href="/public/stylesheets/index.css">
</head>
<body>
    <%= name %>
</body>
</html>